


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import "tailwindcss";
body {
    background: linear-gradient(180deg, #f1f5f9, #e2e8f0);
}




.lobster {
    font-family: 'Lobster', cursive;
}

.inter {
    font-family: 'Inter', sans-serif;
}

body {
    font-family: 'Inter', sans-serif;

}






.swiper {
    width: 100%;
    height: 100%;
}



.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* In your CSS */
.font-lobster {
    font-family: var(--font-lobster);
}


@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 9s ease infinite;
}
