@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import "tailwindcss";

.lobster {
    font-family: 'Lobster', cursive;
}

.inter {
    font-family: 'Inter', sans-serif;
}

body {
    font-family: 'Inter', sans-serif;

}

container {

    @apply px-8;
    /* Adds margin-left and margin-right */
}




.swiper {
    width: 100%;
    height: 100%;
}



.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* In your CSS */
.font-lobster {
    font-family: var(--font-lobster);
}